-#original
-#<!doctype html>
-#%html
-#  %head
-#    %meta{:charset => "utf-8"}
-#      / Always force latest IE rendering engine or request Chrome Frame
-#      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
-#     / Use title if it's in the page YAML frontmatter
-#        %title= current_page.data.title || "The Middleman"
-#        = stylesheet_link_tag "normalize", "all"
-#        = javascript_include_tag  "all"
-#  %body{:class => page_classes}
-#    = yield
-#end original

!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{:class => "no-js"}
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}

    -# Pull in the page title
    %title= current_page.data.title

    %meta{:name => "description", :content => "Moda Health Employee Assistance Program"}
    %meta{:name => "author", :content => "Moda Health"}
    -# You may wish to remove the 'initial scale=1.0' for non-responsive layouts
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    -# Place favicon.ico and apple-touch-icon(s) in the root directory

    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag "head"

  %body{:class => current_page.data.bodyclass}
    .container
      %header
        = partial "partials/_header"

      #page
        %section#nav-container
          /gumby-fixed needs to be here, not on the container
          %nav{:class => "vertical-nav", "gumby-fixed" => "top"} 
            = partial "partials/_nav"

        %section#main-content{:role => "main"}
          %h1= current_page.data.title
          -# Page content gets rendered here
          = yield

      #layout_footer

    %footer
      = partial "partials/_footer"

    :javascript      
      var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
      if(!oldieCheck) {
      document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
      } else {
      document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
      }

    :javascript
      window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.10.1.min.js"><\/script>')

    = javascript_include_tag  "all"

    -# Google Analytics: change UA-XXXXX-X to be your site's ID.
    -# :javascript
      -# (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      -# function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      -# e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      -# e.src='//www.google-analytics.com/analytics.js';
      -# r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      -# ga('create','UA-XXXXX-X');ga('send','pageview');


            